<!DOCTYPE html>
<html lang="en">

<!-- <meta http-equiv="refresh" content="{{refresh}}"> -->

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

<script>
  $(document).ready(function () {
    $('#links').DataTable({
      "pageLength": 25,
      "order": [[0, "asc"]],
      "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
      "stateSave": true,
      initComplete: function () {
        this.api().columns([0, 8, 9]).every(function () {
          var column = this;
          var select = $('<select><option value=""></option></select>')
            .appendTo($(column.header()))
            .on('change', function () {
              var val = $.fn.dataTable.util.escapeRegex(
                $(this).val()
              );

              column
                .search(val ? '^' + val + '$' : '', true, false)
                .draw();
            });

          column.data().unique().sort().each(function (d, j) {
            select.append('<option value="' + d + '">' + d + '</option>')
          });
        });
      }
    });
  });
</script>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="URL Shortener with Python Flask, Bootstrap, API Gateway, Lambda and DynamoDB">
  <meta name="author" content="Ruan Bekker">

  <title>{{ app_title }}</title>

  <link href="http://flask.pocoo.org/docs/0.12/_static/flask-favicon.ico" rel="icon">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://getbootstrap.com/docs/3.3/examples/justified-nav/justified-nav.css" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

  <style>
    heading {
      font-family: 'Raleway', sans-serif;
      font-size: 46px;
    }
  </style>

</head>

<body>
  <img src='static/images/packetfabric-logo.svg' width="200"> Backbone Links Test

  <!-- <div>
    Toggle column: <a class="toggle-vis" data-column="0">Status</a> | <a class="toggle-vis" data-column="1">Last
      flapped</a> | <a class="toggle-vis" data-column="2">Link</a> | <a class="toggle-vis" data-column="3">A Host</a>
    |
    <a class="toggle-vis" data-column="4">A Interface</a> | <a class="toggle-vis" data-column="5">Z Host</a> | <a
      class="toggle-vis" data-column="6"> Z Interface</a> | <a class="toggle-vis" data-column="7">Members</a> |
    <a class="toggle-vis" data-column="8">Type</a> | <a class="toggle-vis" data-column="9">Vendor</a> |
    <a class="toggle-vis" data-column="10">Circuit ID</a>
  </div> -->
  <table id="links" class="display">
    <thead>
      <tr>
        <th scope="col">Status</th>
        <th scope="col">Last flapped</th>
        <th scope="col">Link</th>
        <th scope="col">A Host</th>
        <th scope="col">A Interface</th>
        <th scope="col">Z Host</th>
        <th scope="col">Z Interface</th>
        <th scope="col">Members</th>
        <th scope="col">Type</th>
        <th scope="col">Vendor</th>
        <th scope="col">Circuit ID</th>

      </tr>
    </thead>
    <tbody>
      {% for link, link_data in links.items() %}
      {% if 'a_side' in link_data and 'z_side' in link_data %}
      {% if link_data['a_side']['last_flapped'] != 'Unknown' %}
      <tr>
        <th scope="row">{{ link_data['a_side']['status'].capitalize() }}</th>
        <td>{{ link_data['a_side']['last_flapped'] }}</td>
        <td>{{link}}</td>
        <td>{{ link_data['a_side']['host'] }}</td>
        <td>{{ link_data['a_side']['interface'] }}</td>
        <td>{{ link_data['z_side']['host'] }}</td>
        <td>{{ link_data['z_side']['interface'] }}</td>
        <td>{{ link_data['a_side']['up_members'] }} / {{ link_data['a_side']['member_count'] }}</td>
        <td>{{ link_data['type'].capitalize() }}</td>
        <td>{{ link_data['a_side']['vendor'] }}</td>
        <td>{{ link_data['a_side']['cid'] }}</td>
      </tr>
      {% endif %}
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
  </div>
</body>

</html>